html {
    background-color: rgb(144, 205, 228);
    font-size: 20px;
    font-family: 'Helvetica';
}
.block {
    background-color: rgb(27, 155, 197);
    padding: 6px 18px;
    color: white;
    margin: 8px; 
    min-height: 200px;
}
.current {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
#current_temp {
    font-size: 45px;
    font-weight: 200;
    line-height: 33px;
}
#current_condition, #min, #max {
    font-size: 16px;
    font-weight: 500;
}
p {
    margin: 8px 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}